<%= form_for(@product, remote: true) do |f| %>
<div class="modal-header">
	<button type="button" class="close" data-dismiss="modal" aria-hidden="true">
		&times;
	</button>
	<h4 class="modal-title" id="modal-label"></h4>
</div>
<div class="modal-body">
	<div id="error"></div><!-- Errors in form -->
	<div class="field">
		<%= f.label :name %>
		<br>
		<%= f.text_field :name %>
	</div>
	<div class="field">
		<%= f.label :price %>
		<br>
		<%= f.number_field :price, :class => 'text_field', :step => 'any'%>
	</div>
	<div class="field">
		<%= f.label :description %>
		<br>
		<%= f.text_area :description %>
	</div>

</div>
<div class="modal-footer">
	<button type="button" class="btn btn-default" data-dismiss="modal">
		Close
	</button>
	<%= f.submit "Save", class: "btn btn-primary" %>
</div>
<!-- Modal footer -->
<% end %>

