<% if @product.errors.any? %>
<h4><%= pluralize(@product.errors.count, "error") %> prohibited this product from being saved:</h4>
<ul>
	<% @product.errors.full_messages.each do |message| %>
	<li>
		<%= message %>
	</li>
	<% end %>
</ul> 
<% end %>