$verylightgray: rgb(243, 243, 243)
$insetPadding: 25px

#wrapper 
  padding-left: 300px

// Left Panel
#sidebar-wrapper 
  margin-left: -250px
  left: 250px
  width: 250px
  padding: $insetPadding
  background: $verylightgray
  position: fixed
  height: 100%
  overflow-y: hidden
  z-index: 1000
  
  .jumbotron
    font-size: 20px
    text-align: center
    max-height: 10%
    
  .btn
    max-height: 10%
  
  .product-listing
    top: 0
    width: 200px
    list-style: none
    margin-top: 10px
    margin-bottom: 10px
    max-height: 70%
    width: 100%
    overflow: scroll
    
    a
      text-decoration: none
      color: black
    
    .product-item
      margin-bottom: 10px
      
      &:hover
        background: lightgrey
        border-radius: 5px
        transition: background-color 0.5s ease
      
      .product-attributes
        display: inline-block
        max-width: 120px
        vertical-align: middle
          
      img
        padding: 5px 0px
        height: 50px
        width: 60px

// Right panel
#page-content-wrapper 
  width: 100%

  .page-content
    padding: $insetPadding
    
    h3
      background: orange
      font-size: 40px
      margin: -25px -25px 10px
      padding: 25px 25px 5px
    
    .product-price
      font-size: 25px
      margin: 5px 0px
    
    .product-description
      margin: 20px 5px
  
  .product-info
    word-break: break-all
    
    
// Messages
#error
  color: red
  
#product_description
  width: 460px
  max-height: 100px