<% @products.each do |product| %>
<%= link_to product_path(product), id:"product-#{product.id}", remote: true do%>
<div class="product-item">
	<%= image_tag 'placeholder.png' %>
	<div class="product-attributes">
		<div class="product-name">
			<%= product.name %>
		</div>
		<div class="price">
			$<%= product.price %>
		</div>
	</div>
</div><!-- Product Item -->
<% end %>
<% end %>