<!-- Keep all page content within the page-content inset div! -->
<div class="page-content">

	<div class="col-md-12 product-info">
		<h3><%= @product.name %></h3>
		<div class="product-price">
			$<%= @product.price %>
		</div>
		<div class="product-description well">
			<%= @product.description %>
		</div>
	</div>

	<%= link_to 'Edit', edit_product_path(@product), remote: true, class: "btn" %> 
	<%= link_to 'Delete', product_path(@product), method: 'delete', class: "btn btn-danger",
	data: {confirm: "Are you sure you want to delete this product?"} %>
</div>

