<div id="wrapper">
	<!-- Sidebar -->
	<div id="sidebar-wrapper">
		<div class="jumbotron well">
			Product Listing Application
		</div>
		<%= link_to 'New Product', new_product_path, class: "btn btn-success", remote: true %>
		<div class="product-listing">
			<%= render 'products' %>
		</div>
	</div>
	<!-- Sidebar Wrapper -->

	<!-- Page content -->
	<div id="page-content-wrapper"></div>

</div>
<%= render 'shared/modal'%>