// Close any existing modals (from redirection)
$('#new-modal').modal('hide');
$('#page-content-wrapper').html("<%= escape_javascript(render 'show') %>");

$.ajax({
	type: "GET",
	url: '<%= products_path %>.js'
});